<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LASTFILE" value="C:\Users\Administrator\Downloads\595.79-desktop-win10-win11-64bit-international-dch-whql.exe" />
        <add key="LASTFOLDER" value="C:\Users\Administrator\Downloads" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
